@import url("../pages/page.css");
@import url("../styles/vendor/normalize.css");
@import url("../styles/vendor/fonts/fonts.css");

@import url("../styles/swiper/swiper.css");
@import url("../styles/header/header.css");
@import url("../styles/green-slider/green-slider.css");
@import url("../styles/blue-slider/blue-slider.css");
@import url("../styles/purple-slider/purple-slider.css");

@import url("../styles/swiper/__container/swiper__container.css");
@import url("../styles/swiper/__content/swiper__content.css");
@import url("../styles/swiper/__information-button/swiper__information-button.css");
@import url("../styles/swiper/__information-button/_blue/swiper__information-button_blue.css");
@import url("../styles/swiper/__information-button/_green/swiper__information-button_green.css");
@import url("../styles/swiper/__information-button/_purple/swiper__information-button_purple.css");
@import url("../styles/swiper/__picture/swiper__picture.css");
@import url("../styles/swiper/__span/swiper__span.css");
@import url("../styles/swiper/__title/swiper__title.css");

@import url("../styles/detail/detail.css");
@import url("../styles/detail/__box/detail__box.css");
@import url("../styles/detail/__discription/detail__discription.css");
@import url("../styles/detail/__paragraph/detail__paragraph.css");
@import url("../styles/detail/__specialist/detail__specialist.css");

@import url("../styles/feedback/feedback.css");
@import url("../styles/feedback/__agreement/feedback__agreement.css");
@import url("../styles/feedback/__paragraph/feedback__paragraph.css");
@import url("../styles/feedback/__title/feedback__title.css");
@import url("../styles/feedback/__title-group/feedback__title-group.css");
@import url("../styles/feedback/__agreement/feedback__agreement.css");

@import url("../styles/form/form.css");

@import url("../styles/footer/footer.css");

body {
  font-family: Ubuntu;
  min-width: 320px;
  margin: 0 auto;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  position: relative;
  height: 100%;
}
