.feedback__title {
  color: #1d1a1a;
  font-size: 66px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
  margin: 0;
}
@media screen and (max-width: 1400px) {
  .feedback__title {
    font-size: 36px;
  }
}
